.footer {
	display: grid;
	grid-template-columns: 4fr 1fr;
    align-items: center;
    justify-content: center;
	background-color: rgb(200, 200, 200);
	padding: 2.5vh 2.5vw;
	width: 100%;
	position: fixed;
	bottom: 0px;
	&-info {
		color: black;
		font-size: 1rem;
		font-weight: 700;
		a {
			font-size: 1rem;
			color: black;
			font-weight: 700;
		}
	}
}
