.pokeball {
	position: absolute;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 10;
	width: 192px;
	height: 192px;
	background: radial-gradient(
			white 16px,
			black 17px 18px,
			white 19px 24px,
			black 25px 32px,
			transparent 33px
		),
		linear-gradient(to bottom, red 0 80px, black 81px 96px, white 97px 100%);
	border-radius: 50%;
	border: 8px solid black;
}

.loading {
	animation: loading 1s infinite;
}

.visible {
	display: flex;
}

.background {
	position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%,-50%);
	display: grid;
	justify-items: center;
	align-items: center;
}

@keyframes loading {
	25% {
		transform: rotate(60deg);
	}
	50% {
		transform: rotate(120deg);
	}
	75% {
		transform: rotate(240deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
