.pokeball {
	position: sticky;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	width: 192px;
	height: 192px;
	background: radial-gradient(
			white 16px,
			black 17px 18px,
			white 19px 24px,
			black 25px 32px,
			transparent 33px
		),
		linear-gradient(to bottom, red 0 80px, black 81px 96px, white 97px 100%);
	border-radius: 50%;
	border: 8px solid black;
}
.background {
	display: grid;
	justify-items: center;
	align-items: center;
}