.popUpContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr 1fr 1fr 2fr;
    justify-items: center;
	z-index: 100;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
	background-color: #f4f4f4;
	color: black;
	text-align: center;
    align-items: center;
    padding: 20px 20px;
	border: 5px solid rgba(0, 0, 0, 0.2);
	border-radius: 15px;
    font-weight: 700;
    h2 {
        display: flex;
		font-size: 50px;
		grid-column-start: 1;
		grid-column-end: 4;
        grid-row-start: 1;
	}
    &-nameId {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        text-transform: uppercase;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    &__close {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fefefe;
        margin: 15% auto; 
        padding: 20px;
        border: 1px solid #888;
        width: 10%; 
        border-radius: 10px;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    &__height {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    &__weight {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    &__sprite {
        height: 100%;
        max-height: 300px;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 5;
    }
    &__flavor {
        display: flex;
        margin: auto;
        border: 1px solid rgba($color: #000000, $alpha: 0.2);
        grid-column-start: 1;
        grid-column-end: 4;
        padding: 0 10vw;
    }
}

.modal {
    display: none;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
.popup-visible {
    display: block;
}